/*Disabling initial browser styles and and installing fonts.
(The selector "*" applies the parameters set below to all elements.
The "border-sizing : border-box;" parameter tells the browser to take into account any 
borders and internal margins in the values that are specified in the width and height of 
the element.)*/
*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}


.header
{
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    padding: 30px 160px 40px 160px;
}

.headerLogo, .headerLink
{
    color:white;
}

.headerLogo
{
    font-size: 24px;  
    font-weight: bolder;  
}

.linkContainer
{
    display: flex;
    gap:30px;
}

.headerLink
{
    font-size: 18px;
    text-decoration: none;
}


.aboutText h2
{
    font-size: 48px;
    font-weight: bolder;
}

.aboutText p
{
    font-size: 18px;
}

.about
{
    display: flex;
    padding: 100px 160px;
    justify-content: center;
    gap:80px;
    flex-wrap: wrap;
    background-color: #1F2937;
}

.aboutText, .aboutImage
{
    flex:1 0 0;
    color: white;

}

.aboutImage
{
    background-color: brown;
}

.aboutText h2
{
    margin-bottom: 10px;
}

.signUp
{
    display: block;
    color:white;
    text-decoration: none;
    padding: 15px 40px;
    margin-top:20px;
    width: max-content;
    border-radius: 10px;
    background-color: #3882F6;
}