/*Disabling initial browser styles and and installing fonts.
(The selector "*" applies the parameters set below to all elements.
The "border-sizing : border-box;" parameter tells the browser to take into account any 
borders and internal margins in the values that are specified in the width and height of 
the element.)*/
*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}


.header
{
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    padding: 30px 160px 40px 160px;
}

.headerLogo, .headerLink
{
    color:white;
}

.headerLogo
{
    font-size: 24px;  
    font-weight: bolder;  
}

.linkContainer
{
    display: flex;
    gap:30px;
}

.headerLink
{
    font-size: 18px;
    text-decoration: none;
}


.aboutText h2
{
    font-size: 48px;
    font-weight: bolder;
}

.aboutText p
{
    font-size: 18px;
}

.about
{
    display: flex;
    padding: 100px 160px;
    justify-content: center;
    gap:80px;
    flex-wrap: wrap;
    background-color: #1F2937;
}

.aboutText, .aboutImage
{
    flex:1 0 0;
    color: white;

}

.aboutImage
{
    background-color: brown;
}

.aboutText h2
{
    margin-bottom: 10px;
}

.signUp
{
    display: block;
    color:white;
    text-decoration: none;
    padding: 15px 40px;
    margin-top:20px;
    width: max-content;
    border-radius: 10px;
    background-color: #3882F6;
}

.inform
{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}

.inform h2
{
    font-size:36px;
    font-weight: bold;
    padding-bottom: 50px;
}

.infImagesContainer
{
    display: flex;
    flex-wrap: wrap;
    gap:40px;
}

.container, .infImage
{
    width:160px;
}

.infImage
{
    border:4px solid #3882F6;
    border-radius: 15px;
    height: 160px;
}

.container
{
    text-align: center;
}

.container p
{
    margin-top:10px;
    font-size:18px;
}

.quote
{
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:50px;
    flex-wrap: wrap;
}

.quote p
{
    font-size:32px;
    font-style: italic;
    font-weight: 100;
}

.quoteContainer
{
    display: flex;
    flex-wrap: wrap;
    width:700px;
}

strong
{
    display: block;
    font-style: normal;
    font-weight: bold;
    margin-left:85%;
}